<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spundev.autoscroll">

    <application>
        <activity
            android:name=".AutoScrollListActivity"
            android:label="@string/asc_list_activity_title"
            android:theme="@style/asc_AppTheme" />

        <activity
            android:name=".AutoScrollGridActivity"
            android:label="@string/asc_grid_activity_title"
            android:theme="@style/asc_AppTheme" />
    </application>

</manifest>