<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spundev.activitysharedelements">

    <application>

        <activity
            android:name=".GridActivity"
            android:label="@string/ase_app_name"
            android:theme="@style/ase_AppTheme.Grid" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/ase_title_activity_detail"
            android:parentActivityName=".GridActivity"
            android:theme="@style/ase_AppTheme.Details"
            tools:targetApi="P">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GridActivity" />
        </activity>

    </application>

</manifest>